ScrollPane.diagram > .viewport {
    -fx-background-color: transparent;
}
ScrollPane.diagram {
    -fx-background-color: white;
}

.control-group {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: #aaa, #ccc #fff #fff #ccc;
    -fx-border-insets: 1, 2;
    -fx-padding: 5;
}

VBox.control-group {
    -fx-spacing: 3;
}

VBox.form {
    -fx-spacing: 2;
}

GridPane.form {
    -fx-hgap: 3;
    -fx-vgap: 3;
}

Label.heading {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}